In [127]:
import glob
import pandas as pd
import re

In [128]:
csv_files = glob.glob('./*.csv')
dataframes=[]
col_names_list = []
for x in csv_files:
    dataframes.append(pd.read_csv(x))
    col_names_list.append(list(dataframes[-1].columns))

K:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [129]:
#checks to see if the df has anything to signify country
[[csv_files[y],sum([bool(re.search('ountry',x)) for x in col_names_list[y]])>0] for y in range(len(col_names_list))]

[['.\\city_temperature.csv', True],
 ['.\\EdStatsData.csv', True],
 ['.\\global-city-population-estimates-CITIES-OVER-300K.csv', True],
 ['.\\Qol_data.csv', False],
 ['.\\WPP2019_PopulationByAgeSex_Medium.csv', False],
 ['.\\WRP national data.csv', False]]

In [130]:
Temp_df = dataframes[0].copy()
Ed_df = dataframes[1].copy()
City_pop_df = dataframes[2].copy()
QoL_df = dataframes[3].copy()
Age_df = dataframes[4].copy()
Rel_df = dataframes[5].copy()

In [131]:
for idx in range(6):
    names = col_names_list[idx]
    print(idx)
    print('csv file:' + csv_files[idx])
    for name in names:
        if bool(re.search('ountry',name)):
                print('column name:' + name + '\n','first entry:' + str(dataframes[idx][name][0]) + '\n')

0
csv file:.\city_temperature.csv
column name:Country
 first entry:Algeria

1
csv file:.\EdStatsData.csv
column name:Country Name
 first entry:Arab World

column name:Country Code
 first entry:ARB

2
csv file:.\global-city-population-estimates-CITIES-OVER-300K.csv
column name:Country Code
 first entry:392

column name:Country or area
 first entry:Japan

3
csv file:.\Qol_data.csv
4
csv file:.\WPP2019_PopulationByAgeSex_Medium.csv
5
csv file:.\WRP national data.csv

In [132]:
city_list = list(QoL_df['City'].str.split(','))
country_list = []
city_list_df = []
for city in city_list:
    country_list = city[-1]
    city_list_df = city[0]
QoL_df['Country'] = country_list
QoL_df['City'] = city_list_df
QoL_df.head()

,year,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Country
0,2012-Q1,Tehran,215.25,140.62,77.34,64.81,89.06,5.74,23.00,40.00,Iran
1,2012-Q1,Tehran,213.18,136.31,83.85,77.78,166.07,8.27,27.33,26.50,Iran
2,2012-Q1,Tehran,204.86,124.69,58.98,78.89,112.10,3.59,35.33,21.25,Iran
3,2012-Q1,Tehran,196.00,118.34,48.75,87.04,142.18,5.24,27.00,15.00,Iran
4,2012-Q1,Tehran,190.78,124.25,71.88,70.42,111.71,4.58,62.00,25.08,Iran

In [188]:
Age_df['Country'] = Age_df['Location']
Age_df_time = pd.DataFrame(Age_df.groupby(['Time','Location'])[['PopTotal']].sum()).reset_index()
Age_df_m = Age_df.merge(Age_df_time, on = ['Time','Location'], how = 'left')
Age_df_m['AgeGrpPopPer'] = 100*Age_df_m['PopTotal_x']/Age_df_m['PopTotal_y']